

:root {
    --main-bg-color:     grey;
    --main-border-color: darkgrey;
 
    --title-color:       grey;
    --title-left-color:  grey;
    --title-right-color: white;

    --node-bg-color: rgba(80, 120, 180, 0.1);
    --node-fg-color: rgb(80, 120, 180);

    --service-bg-color: rgb(180,180, 40);
    --service-fg-color: white;

    --replicaset-bg-color: rgb( 25, 25,232);
    --replicaset-fg-color: white;

    --pod-bg-color: rgb(51,105,232);
    --pod-fg-color: blue;

    --container-bg-color: rgb(40,40,180); // dark blue
    --container-fg-color: blue;
}

/* line_container used to contain 2 blocks on same line: */
.row {  text-align:center;  display:inline;  }
.col {  display:inline;  }

.box {
    /* Added to enable draggable elements: */
    position: absolute;

    background: solid var(--main-bg-color);

    height:80px; width: 80px;
    border: 1px solid var(--main-border-color);
}

.title-rounded {
    border-radius: 25px;
    background: var(--title-color);
    color: white;

    padding: 2px; 
    /*width: max-content;*/
    /* width: 180px;*/
    height: 18px;
}

.title-left-rounded {
    border-radius: 25px 0px 0px 25px;
    background: var(--title-left-color);
    color: white;

    padding: 2px; 
    height: 18px;
}

.title-right-rounded {
    /*border-radius: 0px 25px 25px 0px;*/
    background: var(--title-right-color);
    color: black;

    padding: 2px; 
    height: 18px;
}

//.node-rounded {
.wide {
  /*width: 150px;*/
  width: max-content;
}

.node {
    border-radius: 25px;

    border-style: solid;
    border-width: 5px;
    border-color: var(--main-border-color);

    background: var(--node-bg-color);
    padding: 20px; 

    /* Adapt size to content: */
    /*width: 200px; height: 150px; */
    width: max-content; height: max-content;

}

// .service-rounded {
.service {
    border-radius: 25px;
    border-style: solid;
    border-width: 5px;
    border-color: var(--main-border-color);

    padding: 20px; 

    background-color: var(--service-bg-color);
    color: var(--service-fg-color);

    /* Adapt size to content: */
    /*width: 200px; height: 150px; */
    width: max-content; height: max-content;
}

.pod {
  background-color: var(--pod-bg-color);
  color: var(--pod-fg-color);
  width: max-content;
  // width: 150px;
}

.container {
    padding: 10px;
    width: 30px; height: 30px;
    //width:80%; height: 400px;
    //border: 1px solid var(--main-border-color);
}

.replicaset {
  background-color: var(--replicaset-bg-color);
  color: var(--replicaset-fg-color);
}


