
/* line_container used to contain 2 blocks on same line: */
.row {  text-align:center;  display:inline;  }
.col {  display:inline;  }
.rcol {  text-align: right; width: max-content; display:inline;  }

.node {
    border-radius: 25px; border-style: solid; border-width: var(--main-border-width);
    border-color: var(--node-border-color);

    padding: 5px;
    font-size: 20px;

    background: var(--node-bg-color);
    color: var(--node-fg-color);

    /* Adapt size to content: */
    /* width: 200px; height: 150px; */
    /* width: max-content; height: max-content; */
    width: 100%; height: max-content;
}

.service {
    border-radius: 25px; border-style: solid; border-width: var(--main-border-width);
    border-color: var(--main-border-color);

    padding: 5px;
    font-size: 20px;

    background-color: var(--service-bg-color);
    color: var(--service-fg-color);

    /* Adapt size to content: */
    /*width: 200px; height: 150px; */
    width: max-content; height: max-content;
}

.deployment {
    border-radius: 25px; border-style: solid; border-width: var(--main-border-width);
    border-color: var(--main-border-color);

    padding: 5px;
    font-size: 20px;

    background-color: var(--deploy-bg-color);
    color: var(--deploy-fg-color);

    /* Adapt size to content: */
    /*width: 200px; height: 150px; */
    width: max-content; height: max-content;
}


.replicaset {
    border-radius: 25px; border-style: solid; border-width: var(--main-border-width);
    border-color: var(--main-border-color);

    background-color: var(--replicaset-bg-color);
    color: var(--replicaset-fg-color);
    width: max-content; height: max-content;
}

.pod {
    border-radius: 25px; border-style: solid; border-width: var(--main-border-width);
    border-color: var(--main-border-color);

    background-color: var(--pod-bg-color) ;
    color: var(--pod-fg-color) ;
    /* width: 150px; */
    width: max-content; height: max-content;
}

.container {
    padding: 10px;
    width: 30px; height: 30px;
    /* width:80%; height: 400px; */
    border: 1px solid var(--main-border-color);
}

.wide {
  /*width: 150px;*/
  width: max-content;
}

.box {
    /* Added to enable draggable elements: */
    position: absolute;

    background: solid var(--main-bg-color);

    height:80px; width: 80px;
    border: 1px solid var(--main-border-color);
}

.title-rounded {
    border-radius: 25px;
    background: var(--title-color);
    color: white;

    padding: 2px;
    /*width: max-content;*/
    /* width: 180px;*/
    height: 18px;
}

.title-left-rounded {
    border-radius: 25px 0px 0px 25px;
    background: var(--title-left-color);
    color: white;

    padding: 2px;
    height: 18px;
}

.title-right-rounded {
    /*border-radius: 0px 25px 25px 0px;*/
    background: var(--title-right-color);
    color: black;

    padding: 2px;
    height: 18px;
}


/* ------------------------ Tooltips ------------------------ */


*.tooltip {
    position: relative;
}

*.tooltip::before {
    border-radius: 25px;

    content: attr(data-tip) ;

    font-family: arial, sans-serif;
    font-size: 15px;
    font-weight: bold;

    position:absolute;
    z-index: 999; /* PUT 'on top' */
    /*white-space:nowrap;*/
    bottom:9999px;

    top: -5px;
    /*left: 105%; */
    left: 50%;

    background:#fc0;
    color:#000;
    padding:0px 7px;
    line-height: 18px;
    /*height: 18px;*/
    height: max-content;

    opacity: 0;
    -webkit-transition:opacity 0.4s ease-out;
    -moz-transition:opacity 0.4s ease-out;
    -o-transition:opacity 0.4s ease-out;
    transition:opacity 0.4s ease-out;
}    

*.tooltip:hover::before    {
    opacity: 1;
    bottom:-35px;
}



