
:root {
    /*--normal-bg-color: rgba(80, 140, 255, 0.5);*/
    --normal-bg-color:rgba(0, 0, 255, 0.1);
    --normal-fg-color: black;
    --normal-border-color: darkgray;

    --main-bg-color:     grey;
    --main-border-width: 5px;*/
    --main-border-color: #008;
    --main-border-width: 2px;
 
    --title-color:       grey;
    --title-left-color:  grey;
    --title-right-color: white;

    /* Default color: for schedulable nodes - works, tainted masters */
    --sched-node-bg-color:     white;
    --sched-node-fg-color:     var(--normal-fg-color);
    --sched-node-border-color: var(--normal-border-color);

    /* Color: for (untainted) masters */
    --unsched-node-bg-color: rgba(40, 80, 180, 0.1);
    --unsched-node-fg-color: rgb(40, 80, 180);
    --unsched-node-border-color: rgb(40, 80, 180);

    /* Color: for NotReady nodes */
    --notready-bg-color: rgba(255, 40, 40, 0.2);
    --notready-fg-color: rgb(255,   0,  0);
    --notready-border-color: rgb(255,   0,  0);

    --service-bg-color: var(--normal-bg-color);
    --service-fg-color: var(--normal-fg-color);

    --deploy-bg-color: var(--normal-bg-color);
    --deploy-fg-color: var(--normal-fg-color);

    --replicaset-bg-color: var(--normal-bg-color);
    --replicaset-fg-color: var(--normal-fg-color);

    --pod-bg-color: var(--normal-bg-color);
    --pod-fg-color: var(--normal-fg-color);

    --container-bg-color: rgb(40,40,180); /* dark blue */
    --container-fg-color: blue;

    /* colors for image versions (can apply to pods/replicasets) */

    --image-v1-bg-color: rgb(0, 255, 255);
    --image-v2-bg-color: rgb(20, 220, 220);
    --image-v3-bg-color: rgb(40, 200, 200);
    --image-v4-bg-color: rgb(60, 180, 180);
    --image-v5-bg-color: rgb(800, 160, 160);

    --image-vLATEST-bg-color:  var(--normal-bg-color);
    --image-vDEFAULT-bg-color: var(--normal-bg-color);

    /* colors for pod status.phase */
    /* TODO:
     * handle ErrImagePull, Terminating
     * clearr difference between error, pending, creating, ... */
    --status-error-fg-color: red;
    --status-error-bg-color: pink;
    --status-pending-fg-color: black;
    --status-pending-bg-color: orange;
    --status-creating-fg-color: black;
    --status-creating-bg-color: yellow;
    --status-unknown-fg-color: orange;
    --status-unknown-bg-color: pink;
};
