
:root {
    --main-bg-color:     grey;
    /*--main-border-color: darkgrey;
    --main-border-width: 5px;*/
    --main-border-color: #008;
    --main-border-width: 2px;
 
    --title-color:       grey;
    --title-left-color:  grey;
    --title-right-color: white;

    /* Default color: for schedulable nodes - works, tainted masters */
    --sched-node-bg-color: rgba(80, 180, 120, 0.1);
    --sched-node-fg-color: rgb(80, 180, 120);
    --sched-node-border-color: rgb(80, 180, 120);

    /* Color: for (untainted) masters */
    --unsched-node-bg-color: rgba(40, 80, 180, 0.1);
    --unsched-node-fg-color: rgb(40, 80, 180);
    --unsched-node-border-color: rgb(40, 80, 180);

    /* Color: for NotReady nodes */
    --notready-bg-color: rgba(180, 120, 80, 0.1);
    --notready-fg-color: rgb(180, 120, 80);
    --notready-border-color: rgb(180, 120, 80);

    --service-bg-color: rgb(180,180, 40);
    --service-fg-color: white;

    --deploy-bg-color: rgb(150,150, 40);
    --deploy-fg-color: white;

    --replicaset-bg-color: rgb( 25, 25,232);
    --replicaset-fg-color: white;

    --pod-bg-color: rgb(51,105,232);
    --pod-fg-color: white;

    --container-bg-color: rgb(40,40,180); /* dark blue */
    --container-fg-color: blue;

    /* colors for image versions (can apply to pods/replicasets) */
    --image-v1-bg-color: rgb(40,180,40);
    --image-v2-bg-color: rgb(40,140,80);
    --image-v3-bg-color: rgb(40,100,120);
    --image-v4-bg-color: rgb(40,60,160);
    --image-v5-bg-color: rgb(40,20,200);

    --image-vLATEST-bg-color: rgb(120, 120, 180);
    --image-vDEFAULT-bg-color: rgb(180, 180, 120);

    /* colors for pod status.phase */
    --status-error-fg-color: red;
    --status-error-bg-color: pink;
    --status-pending-fg-color: black;
    --status-pending-bg-color: orange;
    --status-creating-fg-color: black;
    --status-creating-bg-color: yellow;
    --status-unknown-fg-color: orange;
    --status-unknown-bg-color: pink;
};
