<html>
<!--
    Resizable examples from:
        https://stackoverflow.com/questions/8117761/how-can-i-make-an-iframe-resizable
-->
<head>
    <link rel="stylesheet" type="text/css" href="css/theme.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script>
        var sourceURL="<div style='text-align: right;' data-tip='TOOLTIP' class='rcol tooltip' >Source</div>";
        var CLUSTERNAME='CLUSTERNAME';
    </script>
</head>
<body>

<div class="resizable ui-widget-content" style="display:block;position:absolute;top:0px;border:1px solid blue;">
    <iframe id="terminal" name="terminal" src="TTYDURL" allowtransparency="yes" scrolling="yes" style="width:1280px; height:140px; position:absolute; left:2px;top:0px;margin:0;padding:0;" > </iframe>
</div>

<div style="position:absolute;top:145px;right:20px;" >
<button id="hide_terminal" style="display:inline-block;" >Hide console</button>
<button id="reload_iframe" style="display:inline-block;" >Reload cluster view</button>
</div>

<div class="resizable ui-widget-content" style="display:block;position:absolute;top:140px;border:1px solid blue;">
    <iframe id="visualizer" name="visualizer" src="VISUURL" allowtransparency="yes" scrolling="yes" style="width:1280px; height:900px; position:absolute; left:2px;top:0px;margin:0;padding:0;" > </iframe>
</div>

    <!-- JavaScript -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script>
        $(document).ready( () => {
            var hide_terminal=false;

            $("#hide_terminal").click(function(){
                hide_terminal=!hide_terminal;
                if (hide_terminal) {
                    //console.log("Hiding terminal");
                    $("#terminal").hide();
                    $("#hide_terminal").html("Show");
                } else {
                    //console.log("Showing terminal");
                    $("#terminal").show();
                    $("#hide_terminal").html("Hide");
                };
            });

            $("#reload_iframe").click(function(){
                const iframe_id='visualizer';

                //console.log(`Reloading iframe ${iframe_id}`);
                var iframe = document.getElementById(iframe_id);
                // iframe.src = iframe.src; - reloads from cache
                iframe.src += ' ';         // reloads file from server
            });
        });
    </script>

</body>
</html>

