<html>
<head>
    <link rel="stylesheet" type="text/css" href="css/theme.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script>
        var sourceURL="<div style='text-align: right;' data-tip='TOOLTIP' class='rcol tooltip' >Source</div>";
        var CLUSTERNAME='CLUSTERNAME';
    </script>
</head>
<body>

    <!-- <a href='#' data-tip='TOOLTIP' class='tooltip' >Source</a> -->
    <!-- <div style='text-align: right;' data-tip='TOOLTIP' class='tooltip' >Source</div> -->

    <div id="top_menu" > </div> 
    <div class="demo k8s_cluster" id="k8s_cluster"> </div>

    <!-- JavaScript -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/kubeview.js"></script>

</body>
</html>

