
unset KUBECONFIG
return 0

# TO use kubeconfig:
#export KUBECONFIG=$PWD/secrets/admin.conf
export KUBECONFIG=/home/mjb/src/github.com/GIT_mjbright/kubernetes-digitalocean-terraform/secrets/admin.conf

return 0

https://www.solo.io/



## Setup terraform envvars
# Usage:
#	. ./setup_terraform_vars.rc

export TF_VAR_do_token=$(cat ./secrets/DO_TOKEN)

PUB_KEY=secrets/doceanlabs_rsa.pub

export TF_VAR_do_region=fra1

setup_BIG() {
    export TF_VAR_number_of_workers=2
    #export TF_VAR_number_of_workers=5

    export TF_VAR_size_master="8gb"
    export TF_VAR_size_worker="8gb"
}

setup_SMALL() {
    export TF_VAR_number_of_workers=2
    #export TF_VAR_number_of_workers=5

    export TF_VAR_size_master="2gb"
    export TF_VAR_size_worker="2gb"
}

#setup_SMALL
setup_BIG

# Put doctl.exe in PATH:
export PATH=~/z/bin/win64/doctl:$PATH

function get_ssh_version {
    # ssh -V prints to stderr, redirect
    ssh_ver=$(ssh -V 2>&1)
    [[ -n $ZSH_VERSION ]] && setopt LOCAL_OPTIONS KSH_ARRAYS BASH_REMATCH
    [[ $ssh_ver =~ OpenSSH_([0-9][.][0-9]) ]] && echo "${BASH_REMATCH[1]}"
}


# if ssh version is under 6.9, use -lf, otherwise must use the -E version
if ! awk -v ver="$(get_ssh_version)" 'BEGIN { if (ver < 6.9) exit 1; }'; then
    export TF_VAR_ssh_fingerprint=$(ssh-keygen -lf $PUB_KEY | awk '{print $2}')
else
    export TF_VAR_ssh_fingerprint=$(ssh-keygen -E MD5 -lf $PUB_KEY | awk '{print $2}' | sed 's/MD5://g')
fi



/home/mjb/src/github.com/GIT_mjbright/kubernetes-digitalocean-terraform/setup_terraform_vars.rc
